<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @purchase_upload.file %>
</p>


<%= link_to 'Edit', edit_purchase_upload_path(@purchase_upload) %> |
<%= link_to 'Back', purchase_uploads_path %>
